/** @format */

.container {
  background-size: cover;
  background-image: url(https://image.tmdb.org/t/p/original//yJPI9e3H5fGNTWNzW2p4iSG5qdc.jpg);
  background-position: center center;
  height: 100vh;
  margin-top: 75px;
}
.faded {
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  height: 100vh;
  padding: 0px 100px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid1 {
  width: 50%;
}
.title {
  font-size: 32px;
  color: #fefefe;
}
.button {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  margin-right: 1rem;
  padding-top: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 1rem;
}
.button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.title2 {
  font-size: 18px;
  margin-top: 32px;
  color: #fefefe;
  font-weight: normal;
}
.container2 {
  padding: 16px 100px;
  background-color: #111;
}
.container2 h1 {
  display: block;
  font-size: 20px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #fefefe;
}

.wrapper {
  margin: 32px 0px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
}
.wrapper2 {
  margin: 32px 0px;
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
}
.wrapper2::-webkit-scrollbar {
  display: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}
