/** @format */
.nav {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  background-color: #111;
  position: fixed;
  width: 100%;
  top: 0;
}
.Appbar {
  margin-top: 1rem;
  height: 5rem;
  padding-right: 1rem;
}
.menu {
  display: flex;
  align-items: center;
}
.menu h1 {
  font-weight: 500;
  font-size: 18px;
  color: #fefefe;
  text-decoration: none;
  margin-right: 2rem;
  transition: all 0.2s;
}
.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
